* {
  margin: 0;
  padding: 0;
}

/* Adding font from file */
/* satoshi font */
@font-face {
  font-family: satoshiFont;
  src: url(/fonts/Satoshi-Regular.otf);
}
/*Intgral CF */
@font-face {
  font-family: myBoldFont;
  src: url(/fonts/Fontspring-DEMO-integralcf-regular.otf);
}
@font-face {
  font-family: myExtraBoldFont;
  src: url(/fonts/extrabold.otf);
}
body {
  font-family: satoshiFont;
}
.header_top {
  background-color: black;
  padding-top: 4px;
  padding-bottom: 4px;
}
.header_top > div {
  width: 85%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 12fr 1fr;
}
.header_top > div > p {
  text-align: center;
  font-size: 14px;
  color: white;
  font-family: satoshiFont;
}
.header_top > div > p > a {
  color: white;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid white;
}
.header_top > div > div {
  text-align: right;
}
.top_img {
  padding-top: 2px;
}
.top_img:hover {
  cursor: pointer;
}
.header_top > div > div img {
  width: 13.13px;
  height: 13.13px;
}

/* Navigation Bar */
.navigation_bar {
  width: 90%;
  display: grid;
  grid-template-columns: 6fr 5fr 2fr;
  margin: 0px auto;
  padding-top: 12px;
  padding-bottom: 12px;
}
.nav_items {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.nav_items > ul {
  list-style-type: none;
  display: inline-block;
}
.nav_items > ul li {
  display: inline-block;
  padding: 3px 13px;
  font-size: 20px;
  font-family: satoshiFont;
}
.nav_items > ul > li a {
  color: black;
  text-decoration: none;
}
.nav_items > h3 {
  font-family: myBoldFont;
  margin: auto 0px;
  margin-top: -3px;
}
.navigation_bar h3 > a {
  font-family: myExtraBoldFont;
  text-decoration: none;
  font-weight: bolder;
  font-size: 25px;
  color: black;
}
.navigation_bar > div > input {
  width: 100%;
  background-color: #f0f0f0;
  font-size: 17px;
  padding: 8px;
  border-radius: 62px;
  border: none;
  background-image: url(/Image/search.png);
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 17px;
  padding-left: 40px;
  outline: none;
}
.nav_image_container {
  text-align: right;
}
.nav_image_container img {
  width: 23px;
  height: 23px;
  padding-top: 4px;
  margin-left: 10px;
}

/* Main Section: */
/* Intro Section */
.intro {
  background-image: url(/Image/intro.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0px;
  border: 1px solid black;
  /* background-attachment: fixed; */
}
.intro_container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.intro_container h2 {
  font-size: 64px;
  font-family: myExtraBoldFont;
  line-height: 64px;
  margin-bottom: 26px;
}
.intro_container > div > p {
  font-size: 18px;
  margin-bottom: 26px;
  color: #616060;
}
.shop_now_button {
  background-color: black;
  color: white;
  border-radius: 62px;
  padding: 16px 54px;
  font-size: 16px;
  border: 1px solid black;
}
.shop_now_button:hover {
  background-color: transparent;
  color: black;
  transition: 0.4s;
  cursor: pointer;
}

.intro_paragraph_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 26px;
}
.intro_paragraph_container > div {
  width: 83%;
  border-right: 2px solid #dad8d9;
}
.intro_paragraph_container > div:last-child {
  border: none;
}
.intro_paragraph_container > div > p:first-child {
  font-size: 40px;
  font-weight: bold;
}

.intro_paragraph_container > div > p:nth-child(2) {
  font-size: 16px;
  color: #616060;
}
/* Brands */
.brands_container {
  background-color: black;
  padding: 35px 0px;
}
.brands {
  width: 90%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.brand img {
  height: 33px;
}
/* New Arrivals Section */
.new_arrival {
  width: 90%;
  margin: 0px auto;
  margin-top: 40px;
}
.new_arrival h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: myExtraBoldFont;
  margin-bottom: 35px;
}
.new_arrival_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.arrival_tile {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.item > img {
  width: 295px;
}
.new_star {
  color: #bab1b6;
}
.new_star img {
  height: 15px;
}
.new_star span {
  color: black;
  font-size: 15px;
  padding-left: 12px;
}
.price_new {
  font-size: 24px;
  font-weight: 800;
}
.button_container {
  text-align: center;
}
.view_all_button {
  padding: 16px 54px;
  display: inline-block;
  font-size: 16px;
  margin-top: 26px;
  border-radius: 62px;
  cursor: pointer;
  background-color: #f0eeed;
  border: none;
  margin-bottom: 29px;
}
hr {
  border: none;
  height: 1px;
  background-color: #f0eeed;
}
